/.vscode
/arr_swap
/arr_swap.cpp
/class
/class_composition.cpp
/class_const
/class_copyConsturctor
/class_friend
/conversion_constr
/cv
/cv_thread
/cv_thread.cpp
/define_print
/define_print.cpp
/funcPtr
/hungarian
/hungarian.cpp
/listdir
/listdir.cpp
/new_delete
/overload
/polymorphism
/ptr_arr
/ptr_ref
/recursive
/reinterpret
/sstring
/sstring.cpp
/template
/test
/test.cpp
/throw
/throw.cpp
/vector
/vector_forrange.cpp